includes:
    - /composer/vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - /composer/vendor/phpstan/phpstan-mockery/extension.neon

parameters:

    paths:
        - src
        - tests

    level: max

    ignoreErrors:
        - identifier: function.alreadyNarrowedType
          path: **tests/Assert.php
